:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* body {
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  justify-content: center;
}
 */
.title {    
  text-align: center;
}

.search{
    display: flex;    
   flex-direction: row;
    justify-content: center;  
    font-size: medium;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#container{
  display: flex;
  flex-wrap: wrap;
  flex-direction:row;
  justify-content:center;
}
.card {
  background-color: #4e4e4e;
  position: relative;
  height: 400px;
  width: 20%;
  margin: 30px;
  box-shadow: 10px 5px 5px rgb(44, 44, 44);
  transition: all 0.3s;
  transition-duration: 5ms;
  overflow: hidden;
  align-items: center;
  border-radius: 8%;
  text-align: center;
}

.card:hover {
  transform: translate3d(4px, 5%, 1em);}

.image{
  height: 30%;
  width: auto;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
